@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Variables */
:root {
    /* Variables de Colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* Fuentes */
    --fuente: 'Roboto', sans-serif;
    /* Tamaños Tipográficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precios: 18px;
    --descuento: 16px;
    --descripcion: 16px;
    --navegacion: 17px;
}

/* Estilos Generales */

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    box-sizing: border-box;
}

a {
    color: black;
}

li {
    list-style: none; /* Quita las viñetas */
}

p {
    font-size: var(--parrafos);
}

body {
    background-color: var(--gris-claro);
}



/* Header */

header {
    background-color: var(--amarillo);
    padding: 25px 0;
}

header div.logo {
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}

header div.busqueda {
    width: auto;
    margin-bottom: 10px;

}

header div.logo__busqueda {
    display: flex;
    flex-wrap: wrap;
}

header div p {
    text-align: center;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;

}

header nav ul li {
    margin: 0 15px;
}



header nav ul li a {
    font-size: var(--parrafos);
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
}


/* Footer */

footer {
    padding: 50px 10px 10px;
    background-color: white;
}

footer article {
    text-align: center;
    margin-bottom: 50px;
}

footer article i {
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}

footer span {
    font-size: var(--parrafos);
}

